<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MfgControl.AdvancedHMI.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <!--<connectionStrings>
        <add name="MfgControl.AdvancedHMI.My.MySettings.NCLRecipeConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\CompX\Recipe\NCLRecipe.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>-->
    <connectionStrings>
        <add name="MfgControl.AdvancedHMI.My.MySettings.NCLRecipeConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\CompX\Recipe\NCLRecipe.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
    <userSettings>
        <MfgControl.AdvancedHMI.My.MySettings>
            <setting name="ChartDataGridReadOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Key_Series" serializeAs="String">
                <value>Key Series</value>
            </setting>
            <setting name="Work_File_Path" serializeAs="String">
                <value>Work File Path</value>
            </setting>
            <setting name="WorkFile_CurrentRow" serializeAs="String">
                <value>Active</value>
            </setting>
            <setting name="Key_No" serializeAs="String">
                <value>Key No</value>
            </setting>
            <setting name="Key_Code" serializeAs="String">
                <value>Tumbler Code</value>
            </setting>
            <setting name="WorkFile_RowCount" serializeAs="String">
                <value>Total</value>
            </setting>
            <setting name="Keyfile" serializeAs="String">
                <value>Keyfile</value>
            </setting>
            <setting name="Key_MK_Code" serializeAs="String">
                <value>MK Code</value>
            </setting>
            <setting name="Key_Desc" serializeAs="String">
                <value>Key Desc</value>
            </setting>
            <setting name="Key_Assigned_To" serializeAs="String">
                <value>Assigned To</value>
            </setting>
            <setting name="Key_Date" serializeAs="String">
                <value>Key Date</value>
            </setting>
            <setting name="Key_File_Path" serializeAs="String">
                <value>Key File Path</value>
            </setting>
            <setting name="DatabaseFileName" serializeAs="String">
                <value>NCLRecipe.mdb</value>
            </setting>
            <setting name="Recipe_Name" serializeAs="String">
                <value>Recipe Name</value>
            </setting>
            <setting name="Lock_Family" serializeAs="String">
                <value>Lock_Family</value>
            </setting>
            <setting name="Company_Name" serializeAs="String">
                <value>Company_Name 
</value>
            </setting>
            <setting name="R_Date" serializeAs="String">
                <value>Date</value>
            </setting>
            <setting name="Tool_ID" serializeAs="String">
                <value>Tool_ID</value>
            </setting>
            <setting name="Sta_1_Load_Keys" serializeAs="String">
                <value>Sta 1 Load_Keys
</value>
            </setting>
            <setting name="Sta_1_Keyed" serializeAs="String">
                <value>Sta 1 Keyed</value>
            </setting>
            <setting name="Sta_1_Unload" serializeAs="String">
                <value>Sta 1 Unload
</value>
            </setting>
            <setting name="Sta_2_Enable" serializeAs="String">
                <value>Sta 2 Enable
</value>
            </setting>
            <setting name="Sta_3_Part_Number" serializeAs="String">
                <value>Sta 3 Part
</value>
            </setting>
            <setting name="Sta_4_Enable" serializeAs="String">
                <value>Sta 4 Enable
</value>
            </setting>
            <setting name="Sta_5_Part_Number" serializeAs="String">
                <value>Sta 5 Part
</value>
            </setting>
            <setting name="Sta_5_Vert_Height" serializeAs="String">
                <value>Sta 5 Vert Ht
</value>
            </setting>
            <setting name="Sta_6_Part_Number" serializeAs="String">
                <value>Sta 6 Part
</value>
            </setting>
            <setting name="Sta_7_Part_Number" serializeAs="String">
                <value>Sta 7 Part
</value>
            </setting>
            <setting name="Sta_8_Part_Number" serializeAs="String">
                <value>Sta 8 Part
</value>
            </setting>
            <setting name="Sta_9_Enable" serializeAs="String">
                <value>Sta 9 Enable
</value>
            </setting>
            <setting name="Sta_9_Tool" serializeAs="String">
                <value>Sta 9 Tool
</value>
            </setting>
            <setting name="Sta_10_Part_Number" serializeAs="String">
                <value>Sta 10 Part
</value>
            </setting>
            <setting name="Sta_11_Part_Number" serializeAs="String">
                <value>Sta 11 Part
</value>
            </setting>
            <setting name="Sta_12_Part_Number" serializeAs="String">
                <value>Sta 12 Part
</value>
            </setting>
            <setting name="Sta_13_Part_Number" serializeAs="String">
                <value>Sta 13 Part Number
</value>
            </setting>
            <setting name="Sta_13_Tool" serializeAs="String">
                <value>Sta 13 Tool
</value>
            </setting>
            <setting name="Sta_14_Enable" serializeAs="String">
                <value>Sta 14 Enable
</value>
            </setting>
            <setting name="Sta_14_Tool" serializeAs="String">
                <value>Sta 14 Tool
</value>
            </setting>
            <setting name="Sta_15_Enable" serializeAs="String">
                <value>Sta 15 Enable
</value>
            </setting>
            <setting name="Sta_15_Insert_Angle" serializeAs="String">
                <value>Insert</value>
            </setting>
            <setting name="Sta_15_Test_Angle" serializeAs="String">
                <value>Test</value>
            </setting>
            <setting name="Sta_15_Tool" serializeAs="String">
                <value>Sta 15 Tool
</value>
            </setting>
            <setting name="Sta_16_Part_Number" serializeAs="String">
                <value>Sta 16 Part</value>
            </setting>
            <setting name="Sta_16_Back_Support" serializeAs="String">
                <value>Sta 16 Back Support
</value>
            </setting>
            <setting name="Sta_17_Enable" serializeAs="String">
                <value>Sta 17 Enable
</value>
            </setting>
            <setting name="Sta_13_Gripper" serializeAs="String">
                <value>Sta13 Gripper</value>
            </setting>
            <setting name="Sta_13_Orient" serializeAs="String">
                <value>Sta13 Orient</value>
            </setting>
            <setting name="Sta_13_ShotPin" serializeAs="String">
                <value>Sta13 Shotpin</value>
            </setting>
            <setting name="Sta_13_Place" serializeAs="String">
                <value>Sta13 Place</value>
            </setting>
            <setting name="Sta_13_ReClockPos" serializeAs="String">
                <value>Sta13 ReclockPos</value>
            </setting>
            <setting name="Sta_13_ReClockRot" serializeAs="String">
                <value>Sta13 ReclockRot</value>
            </setting>
            <setting name="Bushing_Tooling_Code" serializeAs="String">
                <value />
            </setting>
            <setting name="Spring1_Bowl" serializeAs="String">
                <value>Sp 1</value>
            </setting>
            <setting name="Barrel_Bowl" serializeAs="String">
                <value>Barrel Bowl</value>
            </setting>
            <setting name="Barrel_Orient" serializeAs="String">
                <value>Barrel Orient</value>
            </setting>
            <setting name="Knurl_Pin_Tooling_Code" serializeAs="String">
                <value />
            </setting>
            <setting name="Knurl_Pin_Bowl" serializeAs="String">
                <value>Sta 16 Bowl</value>
            </setting>
            <setting name="Spring2_Bowl" serializeAs="String">
                <value>Sp 2</value>
            </setting>
            <setting name="Spring3_Bowl" serializeAs="String">
                <value>Sp 3</value>
            </setting>
            <setting name="Spring4_Bowl" serializeAs="String">
                <value>Sp 4</value>
            </setting>
            <setting name="Spring5_Bowl" serializeAs="String">
                <value>Sp 5</value>
            </setting>
            <setting name="Spring6_Bowl" serializeAs="String">
                <value>Sp 6</value>
            </setting>
            <setting name="Spring7_Bowl" serializeAs="String">
                <value>Sp 7</value>
            </setting>
            <setting name="Spring8_Bowl" serializeAs="String">
                <value />
            </setting>
            <setting name="Spring_Tumbler_Kit" serializeAs="String">
                <value />
            </setting>
            <setting name="Top_Tumbler_Kit" serializeAs="String">
                <value />
            </setting>
            <setting name="Mid_Tumbler_Kit" serializeAs="String">
                <value />
            </setting>
            <setting name="Spring1_Tumbler_Type" serializeAs="String">
                <value />
            </setting>
            <setting name="Spring2_Tumbler_Type" serializeAs="String">
                <value />
            </setting>
            <setting name="Spring3_Tumbler_Type" serializeAs="String">
                <value />
            </setting>
            <setting name="Spring4_Tumbler_Type" serializeAs="String">
                <value />
            </setting>
            <setting name="Spring5_Tumbler_Type" serializeAs="String">
                <value />
            </setting>
            <setting name="Spring6_Tumbler_Type" serializeAs="String">
                <value />
            </setting>
            <setting name="Spring7_Tumbler_Type" serializeAs="String">
                <value />
            </setting>
            <setting name="Spring8_Tumbler_Type" serializeAs="String">
                <value />
            </setting>
            <setting name="Top1_Tumbler_Type" serializeAs="String">
                <value />
            </setting>
            <setting name="Top2_Tumbler_Type" serializeAs="String">
                <value />
            </setting>
            <setting name="Top3_Tumbler_Type" serializeAs="String">
                <value />
            </setting>
            <setting name="Top4_Tumbler_Type" serializeAs="String">
                <value />
            </setting>
            <setting name="Top5_Tumbler_Type" serializeAs="String">
                <value />
            </setting>
            <setting name="Top6_Tumbler_Type" serializeAs="String">
                <value />
            </setting>
            <setting name="Top7_Tumbler_Type" serializeAs="String">
                <value />
            </setting>
            <setting name="Top8_Tumbler_Type" serializeAs="String">
                <value />
            </setting>
            <setting name="Mid1_Tumbler_Type" serializeAs="String">
                <value />
            </setting>
            <setting name="Mid2_Tumbler_Type" serializeAs="String">
                <value />
            </setting>
            <setting name="Mid3_Tumbler_Type" serializeAs="String">
                <value />
            </setting>
            <setting name="Mid4_Tumbler_Type" serializeAs="String">
                <value />
            </setting>
            <setting name="Mid5_Tumbler_Type" serializeAs="String">
                <value />
            </setting>
            <setting name="Mid6_Tumbler_Type" serializeAs="String">
                <value />
            </setting>
            <setting name="Mid7_Tumbler_Type" serializeAs="String">
                <value />
            </setting>
            <setting name="Mid8_Tumbler_Type" serializeAs="String">
                <value />
            </setting>
            <setting name="Bot1_Tumbler_Type" serializeAs="String">
                <value />
            </setting>
            <setting name="Bot2_Tumbler_Type" serializeAs="String">
                <value />
            </setting>
            <setting name="Bot3_Tumbler_Type" serializeAs="String">
                <value />
            </setting>
            <setting name="Bot4_Tumbler_Type" serializeAs="String">
                <value />
            </setting>
            <setting name="Bot5_Tumbler_Type" serializeAs="String">
                <value />
            </setting>
            <setting name="Bot6_Tumbler_Type" serializeAs="String">
                <value />
            </setting>
            <setting name="Bot7_Tumbler_Type" serializeAs="String">
                <value />
            </setting>
            <setting name="Bot8_Tumbler_Type" serializeAs="String">
                <value />
            </setting>
            <setting name="PLC_IP_Address" serializeAs="String">
                <value>"10.1.100.102"</value>
            </setting>
            <setting name="Marker_1_BaudRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Marker_1_PortName" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="Marker_1_Length" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Marker_1_StopBits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Marker_1_Parity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Marker_2_BaudRate" serializeAs="String">
                <value>2400</value>
            </setting>
            <setting name="Marker_2_PortName" serializeAs="String">
                <value>COM2</value>
            </setting>
            <setting name="Marker_2_Length" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Marker_2_Parity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Marker_2_StopBits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Sta_15_Finish_Angle" serializeAs="String">
                <value>Finish</value>
            </setting>
            <setting name="Sta_15_Leave_Key" serializeAs="String">
                <value>Sta 15 Leave Key</value>
            </setting>
            <setting name="Sta_14_Mark_Top" serializeAs="String">
                <value>Sta 14 Mark Top</value>
            </setting>
            <setting name="Sta_17_Mark_Side" serializeAs="String">
                <value>Sta 17 Mark Side</value>
            </setting>
            <setting name="Master_Key_Scenario" serializeAs="String">
                <value>Master Key</value>
            </setting>
            <setting name="Sta_5_Enable" serializeAs="String">
                <value>Sta 5 Enable</value>
            </setting>
            <setting name="Sta_6_Enable" serializeAs="String">
                <value>Sta 6 Enable</value>
            </setting>
            <setting name="Sta_7_Enable" serializeAs="String">
                <value>Sta 7 Enable</value>
            </setting>
            <setting name="Sta_8_Enable" serializeAs="String">
                <value>Sta 8 Enable</value>
            </setting>
            <setting name="Sta_10_Enable" serializeAs="String">
                <value />
            </setting>
            <setting name="Sta_11_Enable" serializeAs="String">
                <value />
            </setting>
            <setting name="Sta_12_Enable" serializeAs="String">
                <value />
            </setting>
            <setting name="Sta_13_Enable" serializeAs="String">
                <value />
            </setting>
            <setting name="Sta_3_Enable" serializeAs="String">
                <value>Sta 3 Enable</value>
            </setting>
            <setting name="Sta_16_Enable" serializeAs="String">
                <value>Sta 16 Enable</value>
            </setting>
            <setting name="Top1_Bowl" serializeAs="String">
                <value>T 1</value>
            </setting>
            <setting name="Top2_Bowl" serializeAs="String">
                <value>T 2</value>
            </setting>
            <setting name="Top3_Bowl" serializeAs="String">
                <value>T 3</value>
            </setting>
            <setting name="Top4_Bowl" serializeAs="String">
                <value>T 4</value>
            </setting>
            <setting name="Top5_Bowl" serializeAs="String">
                <value>T 5</value>
            </setting>
            <setting name="Top6_Bowl" serializeAs="String">
                <value>T 6</value>
            </setting>
            <setting name="Top7_Bowl" serializeAs="String">
                <value>T 7</value>
            </setting>
            <setting name="Top8_Bowl" serializeAs="String">
                <value>T 8</value>
            </setting>
            <setting name="Bot1_Bowl" serializeAs="String">
                <value>B 1</value>
            </setting>
            <setting name="Bot2_Bowl" serializeAs="String">
                <value>B 2</value>
            </setting>
            <setting name="Bot3_Bowl" serializeAs="String">
                <value>B 3</value>
            </setting>
            <setting name="Bot4_Bowl" serializeAs="String">
                <value>B 4</value>
            </setting>
            <setting name="Bot5_Bowl" serializeAs="String">
                <value>B 5</value>
            </setting>
            <setting name="Bot6_Bowl" serializeAs="String">
                <value>B 6</value>
            </setting>
            <setting name="Bot7_Bowl" serializeAs="String">
                <value>B 7</value>
            </setting>
            <setting name="Bot8_Bowl" serializeAs="String">
                <value />
            </setting>
            <setting name="Mid1_Bowl" serializeAs="String">
                <value>M 1</value>
            </setting>
            <setting name="Mid2_Bowl" serializeAs="String">
                <value>M 2</value>
            </setting>
            <setting name="Mid3_Bowl" serializeAs="String">
                <value>M 3</value>
            </setting>
            <setting name="Mid4_Bowl" serializeAs="String">
                <value>M 4</value>
            </setting>
            <setting name="Mid5_Bowl" serializeAs="String">
                <value>M 5</value>
            </setting>
            <setting name="Mid6_Bowl" serializeAs="String">
                <value>M 6</value>
            </setting>
            <setting name="Mid7_Bowl" serializeAs="String">
                <value>M 7</value>
            </setting>
            <setting name="Mid8_Bowl" serializeAs="String">
                <value />
            </setting>
            <setting name="Stepped_1" serializeAs="String">
                <value>St 1</value>
            </setting>
            <setting name="Stepped_2" serializeAs="String">
                <value>St 2</value>
            </setting>
            <setting name="Stepped_3" serializeAs="String">
                <value>St 3</value>
            </setting>
            <setting name="Stepped_4" serializeAs="String">
                <value>St 4</value>
            </setting>
            <setting name="Stepped_5" serializeAs="String">
                <value>St 5</value>
            </setting>
            <setting name="Stepped_6" serializeAs="String">
                <value>St 6</value>
            </setting>
            <setting name="Stepped_7" serializeAs="String">
                <value>St 7</value>
            </setting>
            <setting name="PLC_IP_Timeout" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="Bot_Tumbler_Kit" serializeAs="String">
                <value />
            </setting>
            <setting name="Stepped_8" serializeAs="String">
                <value>St 8</value>
            </setting>
            <setting name="Marker_1_ProgNum" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Marker_2_ProgNum" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Marker_1_ReadTimeout" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="Marker_2_ReadTimeout" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="Marker_1_WriteTimeout" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="Marker_2_WriteTimeout" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="Ini_FilePath" serializeAs="String">
                <value>ini FIle path</value>
            </setting>
            <setting name="Event_Log_Filepath" serializeAs="String">
                <value>Event log filepath</value>
            </setting>
            <setting name="Marker_1_VarNum" serializeAs="String">
                <value />
            </setting>
            <setting name="Marker_2_VarNum" serializeAs="String">
                <value />
            </setting>
            <setting name="SerialPort_BreakTime" serializeAs="String">
                <value>234</value>
            </setting>
            <setting name="SerialPort_BreakCounts" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Marker_1_ProgramUpload" serializeAs="String">
                <value />
            </setting>
            <setting name="Marker_2_ProgramUpload" serializeAs="String">
                <value />
            </setting>
            <setting name="Key_Qty" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Stepped7_Bowl" serializeAs="String">
                <value />
            </setting>
            <setting name="Stepped6_Bowl" serializeAs="String">
                <value />
            </setting>
            <setting name="Stepped5_Bowl" serializeAs="String">
                <value />
            </setting>
            <setting name="Stepped4_Bowl" serializeAs="String">
                <value />
            </setting>
            <setting name="Stepped3_Bowl" serializeAs="String">
                <value />
            </setting>
            <setting name="Stepped2_Bowl" serializeAs="String">
                <value />
            </setting>
            <setting name="Stepped1_Bowl" serializeAs="String">
                <value />
            </setting>
            <setting name="Recipe_OK" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Marker_1_OK" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Marker_2_OK" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeyFile_OK" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FullAccess" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Edit_OK" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Machine_Idle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Machine_Operating" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PLC_Comms_Enabled" serializeAs="String">
                <value>False</value>
            </setting>
        </MfgControl.AdvancedHMI.My.MySettings>
    </userSettings>
</configuration>
